<h1>{{title}}</h1>

<table class="table table-striped table-hover table-condensed" style="width:50%">
  <thead>
  	<tr>
  		<th>#</th>
  		<th>Title</th>
  	</tr>
  </thead>
  <tbody>
  	<tr>	<td>1</td>
  		<td>dfasldn jdas;mdd lm fmasdmfmfsdm lfsmd j fds;mmfmsd;m mlfm  fdsm</td>
  	</tr>

 	<tr>	<td>2</td>
  		<td>dfasldn jdas;mdd lm fmasdmfmfsdm lfsmd j fds;mmfmsd;m mlfm  fdsm</td>
  	</tr>

 	<tr>	<td>3</td>
  		<td>dfasldn jdas;mdd lm fmasdmfmfsdm lfsmd j fds;mmfmsd;m mlfm  fdsm</td>
  	</tr>

 	<tr>	<td>4</td>
  		<td>dfasldn jdas;mdd lm fmasdmfmfsdm lfsmd j fds;mmfmsd;m mlfm  fdsm</td>
  	</tr>

 	<tr>	<td>5</td>
  		<td>dfasldn jdas;mdd lm fmasdmfmfsdm lfsmd j fds;mmfmsd;m mlfm  fdsm</td>
  	</tr>

 	<tr>	<td>6</td>
  		<td>dfasldn jdas;mdd lm fmasdmfmfsdm lfsmd j fds;mmfmsd;m mlfm  fdsm</td>
  	</tr>

 	<tr>	<td>7</td>
  		<td>dfasldn jdas;mdd lm fmasdmfmfsdm lfsmd j fds;mmfmsd;m mlfm  fdsm</td>
  	</tr>

  </tbody>

</table>