<link rel=stylesheet href="/public/CodeMirror/lib/codemirror.css">
<link rel="stylesheet" href="/public/CodeMirror/theme/ambiance.css">
<script src="/public/CodeMirror/lib/codemirror.js"></script>
<script src="/public/CodeMirror/mode/xml/xml.js"></script>
<script src="/public/CodeMirror/addon/hint/show-hint.js"></script>
<script src="/public/CodeMirror/addon/hint/javascript-hint.js"></script>
<script src="/public/CodeMirror/mode/javascript/javascript.js"></script>
<script src="/public/CodeMirror/mode/css/css.js"></script>
<script src="/public/CodeMirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/public/CodeMirror/addon/edit/closetag.js"></script>
<script src="/public/CodeMirror/addon/edit/closebrackets.js"></script>