   <h1>{{title}}</h1>
<ol class="breadcrumb">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/nodds/search/search">Search</a>
    </li>
    <li class="active">Nodd</li>
</ol>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-lg-8">
         <form id="frmeditNodd" action="/Memebers/Edit" method="post" role="form"
        style="margin:20px">
          
            <input type="hidden" name="nodd[_id]" value="{{model._id}}"
            />
            <input type="hidden" name="nodd[ownedBy]" value="{{model.ownedBy}}" />
            <div class="form-group">
                <label for="txtTitle">Title</label>
                <span >{{model.Title}}</span>
            </div>
            <div class="form-group">
                <label for="txtDescription">Description</label>
                <p>{{model.Description}}</p>
                
            </div>
            <div class="form-group">
                <label for="txtClientSideCode">Client Side Code</label>
                <textarea class="codeArea" id="txtClientSideCode"
                rows="10">{{model.ClientSideCode}}</textarea>
              
            </div>
            <div class="form-group">
                <label for="txtServerSideCode">Server Side Code</label>
                <textarea class="codeArea" id="txtServerSideCode"
                rows="10">{{model.ServerSideCode}}</textarea>
              
            </div>
            <div class="form-group">
                <label for="txtTags">Tags</label>
                <p>{{model.Tags}}</p>
              
            </div>
            <div class="form-group">
                <label for="txtModules">Npm Modules</label>
                <p>{{model.Modules}}</p>
              
            </div>
               <div class="form-group">
                <label for="txtModules">Creator</label>
                <p>{{model.ownedBy}}</p>
              
        
    </div>
  
        </form>
</div>
<link rel=stylesheet href="/public/CodeMirror/lib/codemirror.css">
<link rel="stylesheet" href="/public/CodeMirror/theme/ambiance.css">
<script src="/public/CodeMirror/lib/codemirror.js"></script>
<script src="/public/CodeMirror/mode/xml/xml.js"></script>
<script src="/public/CodeMirror/addon/hint/show-hint.js"></script>
<script src="/public/CodeMirror/addon/hint/javascript-hint.js"></script>
<script src="/public/CodeMirror/mode/javascript/javascript.js"></script>
<script src="/public/CodeMirror/mode/css/css.js"></script>
<script src="/public/CodeMirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/public/CodeMirror/addon/edit/closetag.js"></script>
<script src="/public/CodeMirror/addon/edit/closebrackets.js"></script>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("txtClientSideCode"), {
        lineNumbers: true,
        matchBrackets: true,
        autoCloseBrackets: true,
        readOnly: true,
        mode: 'text/html',
        theme: "ambiance",
        autoCloseTags: true
    });
    var editor = CodeMirror.fromTextArea(document.getElementById("txtServerSideCode"), {
        lineNumbers: true,
        matchBrackets: true,
        autoCloseBrackets: true,
        readOnly: true,
        mode: 'text/javascript',
        theme: "ambiance",
        extraKeys: {
            "Ctrl-Space": "autocomplete"
        }
    });

    CodeMirror.commands.autocomplete = function(cm) {
        CodeMirror.showHint(cm, CodeMirror.hint.javascript);
    };
</script>
