<h1>Search</h1>
<ol class="breadcrumb">
    <li>
        <a href="/members/mynodds">Home</a>
    </li>
    <li class="active">Search Nodds</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Search By Tag</h3>
            <ul id="TagCloud" class="list-group"></ul>
            <div id="myCanvasContainer">
                <canvas width="300" height="300" id="myCanvas">
                    <p>Anything in here will be replaced on browsers that support the canvas
                        element</p>
                </canvas>
            </div>
        </div>
        <div class="col-md-4">
            <input type="search" style="float:left" id="txtSearch" class="form-control"
            value="{{searchString}}" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="Javascript: return SearchFunction();">Search!</button>
            </span>
        </div>
        <div class="col-md-4">
            <h3>Search By Module</h3>
            <ul id="ModuleCloud" class="list-group"></ul>
            <div id="myCanvasContainerMod">
                <canvas width="300" height="300" id="myCanvasMod">
                    <p>Anything in here will be replaced on browsers that support the canvas
                        element</p>
                </canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-hover table-condensed" style="width:90%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Tags</th>
                    <th>Modules</th>
                    <th>Creator</th>
                </tr>
            </thead>
            <tbody>{{#each model}}
                <tr>
                    <td>{{this.srno}}</td>
                    <td>
                        <a href="/Memebers/Edit/{{this._id }}">
    {{this.Title}}
    </a>
                    </td>
                    <td>{{this.Description}}</td>
                    <td>{{this.Tags}}</td>
                    <td>{{this.Modules}}</td>
                    <td>{{this.ownedBy}}</td>
                </tr>{{/each}}</tbody>
    </div>
</div>
<script type="text/javascript">
    (function() {

        $.ajax({
            type: "GET",
            url: "/api/tags/",
            data: "{}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(msg) {

                PrintTagCloud(msg);
            }
        });

        return false;
    })();



    (function() {

        $.ajax({
            type: "GET",
            url: "/api/modules/",
            data: "{}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(msg) {

                PrintModuleCloud(msg);
            }
        });

        return false;
    })();

    function PrintTagCloud(TagList) {
        for (var o in TagList) {

            $('#TagCloud').append("<li><a href='../../nodds/search/tags/" + TagList[o] + "'>" + TagList[o] + "</a></li>")
        }
        setTimeout(function() {

            $('#myCanvas').tagcanvas({
                textColour: '#ff0000',
                outlineColour: '#ff00ff',
                outlineThickness: 1,
                maxSpeed: 0.03,
                depth: 0.75
            }, 'TagCloud')
        }, 100);
    }



    function PrintModuleCloud(TagList) {
        for (var o in TagList) {

            $('#ModuleCloud').append("<li><a href='../../nodds/search/modules/" + TagList[o] + "'>" + TagList[o] + "</a></li>")
        }
        setTimeout(function() {

            $('#myCanvasMod').tagcanvas({
                textColour: '#1A39E8',
                outlineColour: '#1A39E8',
                outlineThickness: 1,
                maxSpeed: 0.03,
                depth: 0.75
            }, 'ModuleCloud')
        }, 100);
    }

    SetNavActive("/nodds/search/");
    
    
    function SearchFunction(){
        
        var url  = '/nodds/search/';
        var criteria  = $('#txtSearch').val();
        window.location  =  url + criteria;
        
    }
</script>