<h1>About Noddy </h2>

<ul>
    <li>Credits</li>
    <li>Why CRUD with node is that bad ?</li>
    <li>Version 1 Goals</li>
    <li>Roadmap</li>
	<li>The Book</li>
    <li>Other Resources</li>
    <li>Version 2 Goals</li>
</ul>
<h3>Credits</h3>
Darshan Marathe <br>
Twitter : @darshanmarathe <br>
Website : http://www.darshanmarathe.com <br>
Email   : darshanmarathe at gmail.com <br>

<h3>Version 1 goals</h3>
<ul>
    <li>Basic HTML app and crud with node.js</li>
    <li>Bookmarking cloning the nodd</li>
    <li>Following / unFollowing people</li>
    <li>Search Nodds </li>
    <li>Filter By Tags /Package</li>
    
</ul>
<h3>Roadmap</h3>
<h4>CTP 3</h4>
<ol>
    <li>Recent Nodds on Home Page</li>
    <li>Search Working</li>
    <li>Follow / UnFollow Users </li>
    <li>Bookmark / Clone Nodds</li>
</ol>

<script type="text/javascript" >
    
    
    SetNavActive("/about");
</script>
