  <script src="http://indyarmy.com/awesomeCloud/jquery.awesomeCloud-0.2.min.js"></script>
  <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Noddy  <small>CTP 2 (Registration , and Nodd CRUD working)</small></h1>
        <p>Noddy is a application which allows you to share and maintain a repository of your own node tricks</p>
        <p><a class="btn btn-primary btn-lg" href="/users/signup">Sign up &raquo;</a></p>
      </div>
    </div>

    <div class="container">
     
      <div class="row">
        <div class="col-lg-4">
          <h2>Search By Tag</h2>
         <div class="list-group">
       <ul id="TagCloud">
           
       </ul>
</div>
        </div>
        <div class="col-lg-4">
         <h2>Search By Module</h2>
            <div class="list-group">
       <ul id="ModuleCloud">
           
       </ul>
       </div>
       </div>
        <div class="col-lg-4">
          <h2>About Noddy</h2>
          <h3> So what is a nodd ? </h3>
          <p>A Nodd is nothing but simple "node js receipe" , "node js trick" or "node js how to?" noddy helps you to record share this nodds with community and grow knowledge</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
      </div>
      </div>
      <hr>
      
      <script type="text/javascript" >

          (function () {

              $.ajax({
                  type: "GET",
                  url: "api/tags/",
                  data: "{}",
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  success: function (msg) {

                      PrintTagCloud(msg);
                  }
              });

              return false;
          })();



          (function () {

              $.ajax({
                  type: "GET",
                  url: "api/modules/",
                  data: "{}",
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  success: function (msg) {

                      PrintModuleCloud(msg);
                  }
              });

              return false;
          })();

          function PrintTagCloud(TagList) {
              for (var o in TagList) {

                  $('#TagCloud').append("<li><a href='/api/nodds/tags/" + TagList[o].TagName + "' target='_blank'>" + TagList[o].TagName + "</a></li>")
              }
          }



          function PrintModuleCloud(TagList) {
              for (var o in TagList) {

                  $('#ModuleCloud').append("<li><a href='/api/nodds/modules/" + TagList[o].ModuleName + "' target='_blank'>" + TagList[o].ModuleName + "</a></li>")
              }
          }
          
      </script>