  <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Noddy  <small>CTP 1 (Only mocks + registration is working)</small></h1>
        <p>Noddy is a application which allows you to share and maintain a repository of your own node tricks</p>
        <p><a class="btn btn-primary btn-lg" href="/users/signup">Sign up &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Recent Nodds</h2>
         <div class="list-group">
          <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
  </a>
    <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
  </a>
    <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
  </a>
    <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
  </a>
</div>
        </div>
        <div class="col-lg-4">
          <h2>Popular Nodds</h2>
               <div class="list-group">
          <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
  </a>
    <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
  </a>
    <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
  </a>
    <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
  </a>
</div>
       </div>
        <div class="col-lg-4">
          <h2>About Noddy</h2>
          <h3> So what is a nodd ? </h3>
          <p>A Nodd is nothing but simple "node js receipe" , "node js trick" or "node js how to?" noddy helps you to record share this nodds with community and grow knowledge</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>