<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
  <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
      
        <link rel="stylesheet" href="/public/stylesheets/style.css">
        <script src="/public/javascripts/jq_plugIns.js"></script>

<link rel=stylesheet href="/public/CodeMirror/lib/codemirror.css">
<link rel="stylesheet" href="/public/CodeMirror/theme/ambiance.css">
<script src="/public/CodeMirror/lib/codemirror.js"></script>
<script src="/public/CodeMirror/mode/xml/xml.js"></script>
<script src="/public/CodeMirror/addon/hint/show-hint.js"></script>
<script src="/public/CodeMirror/addon/hint/javascript-hint.js"></script>
<script src="/public/CodeMirror/mode/javascript/javascript.js"></script>
<script src="/public/CodeMirror/mode/css/css.js"></script>
<script src="/public/CodeMirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/public/CodeMirror/addon/edit/closetag.js"></script>
<script src="/public/CodeMirror/addon/edit/closebrackets.js"></script>
    </head>
    <body>


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">Noddy  </a>
            <br><small style="color:white">CTP 2</small>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/members/mynodds">My Nodds</a></li>
            <li><a href="/members/create">Create Nodd</a></li>
            <li><a href="/members/logout">Logout</a></li>
          </ul>
              <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="search" placeholder="search" class="form-control">
            </div>
           
            <button type="submit" class="btn btn-success">Search</button>
          </form>
          <p class="navbar-text">Signed in as {{body.user.FirstName}}  {{body.user.LastName}}</p>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<br><br><br>
    
      
        {{{body}}}

  </body>
       
  
      

   
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
