body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.cotainer {
  padding: 40px 15px;
  text-align: center;
}

.form-signup{
	border: :1px solid black;
	width: 70%;
	

}