
    <div class="container">

     

<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <form  method="post" action="signin"  class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Email address" name="username" autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> <br>
         <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>


      </form>

  </div>
  <div class="col-md-3"></div>
</div>

    </div> <!-- /container -->