<div class="form-signup">
<h2>Sign up for Noddy! </h2>
<hr>

<form class="form-horizontal" id="frmSignUp" method="post" action="signup" role="form">
  <div class="form-group">
    <label for="txtEmail" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-8">
      <input type="email" class="form-control" id="txtEmail" required="required" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="txtPassword" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-8">
      <input type="password" class="form-control"  required="required" id="txtPassword" placeholder="Password">
    </div>
  </div>
 
 <div class="form-group">
    <label for="txtConfPassword" class="col-lg-2 control-label">Confirm Password</label>
    <div class="col-lg-8">
      <input type="password" class="form-control"  required="required" id="txtConfPassword" placeholder="Confirm Password">
    </div>
  </div>
 
  <div class="form-group">
    <label for="txtFirstName" class="col-lg-2 control-label">First name</label>
    <div class="col-lg-8">
      <input type="text" class="form-control"  required="required" id="txtFirstName" placeholder="Darshan , John">
    </div>
  </div>
 
 
  <div class="form-group">
    <label for="txtLastName" class="col-lg-2 control-label">Last name</label>
    <div class="col-lg-8">
      <input type="text" class="form-control"  required="required" id="txtLastName" placeholder="Marathe, Smith">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-8">
      <button type="submit" class="btn btn-success">Sign up</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </div>
</form>

<script >
  function Add_Name(ctrols) {
    ctrols.each(function() {
      var id  = $(this).attr('id');
      console.log(id);
      $(this).attr('name' , id);
    });
  }
  
  Add_Name($('#frmSignUp :text'));
  
  Add_Name($('#frmSignUp :password'));


  Add_Name($("#frmSignUp input[type='email']"));
</script>
</div>